
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  font-size: 16px;
  background-color: #292d33;
  color: #ffffff;
  margin: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

